<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" ng-app="cinCity" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Cinema Client</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
  <!--ul class="menu">
    <li><a href="#!/view1">view1</a></li>
    <li><a href="#!/view2">view2</a></li>
  </ul-->
  
  <nav class="navbar navbar-inverse" ng-controller="DashboardController as dashCtrl">
      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">Home</a>
          </div>
        <ul class="nav navbar-nav">
          <li><a class="btn" href="#!/projections">Projections</a></li>
          <li><a class="btn" href="#!/cinemas">Cinemas</a></li>
          <li><a class="btn" href="#!/movies">Movies</a></li>
          <li><a class="btn" href="#!/users">Users</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" >
          <li><a class="btn" ng-click=""><span class="glyphicon glyphicon-user"></span> Profile</a></li>
          <li><a class="btn" ng-click=""><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
  </nav>

  <div ng-view></div> 

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="users/users.js"></script>
  <script src="projections/projections.js"></script>
  <script src="movies/movies.js"></script>
  <script src="cinemas/cinemas.js"></script>
</body>
</html>
